@font-face {
    font-family: 'Scrapbooker-I';
    src: local('Scrapbooker Sans Italic'), local('Scrapbooker-Sans-Italic'),
        url('ScrapbookerSans-Italic.woff2') format('woff2'),
        url('ScrapbookerSans-Italic.woff') format('woff'),
        url('ScrapbookerSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

